In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.externals import joblib
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

/home/himanshu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
!pip install shapely

Requirement already satisfied: shapely in /home/himanshu/anaconda3/lib/python3.6/site-packages (1.6.4.post1)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
dataset=pd.read_csv('data/train.csv',encoding='cp1252')

In [4]:
dataset.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [5]:
dataset.drop(["ItemID"],axis=1,inplace=True)

In [6]:
dataset.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [7]:
dataset.isnull().sum()

Sentiment        0
SentimentText    0
dtype: int64

In [8]:
dataset['Sentiment'].unique()

array([0, 1])

In [9]:
X = dataset["SentimentText"]
y = dataset["Sentiment"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)

In [11]:
x_train.head()

59822    @bellabellini well you could do the work visa,...
28127                        @abby oh god, don't tempt me
66770    @bmabry :Totally agree... Although that may be...
6842     #myweakness has got to be chocolate ohh and Ro...
29326    @acrylicana subdomain is the word if you mean ...
Name: SentimentText, dtype: object

In [12]:
y_train.head()

59822    1
28127    0
66770    1
6842     1
29326    1
Name: Sentiment, dtype: int64

In [13]:
x_test.head()

28395                                  @aimeevee im sorry
44768                               @anoopan: for success
733               ;) Butterfly Day (Jun 19, 2009) #Holiday
61509    @billpr53 Awww  LOL! True, true. But it's the ...
87758    @ChasterCheeto  Memba when we'd wlk roun sch @...
Name: SentimentText, dtype: object

In [14]:
y_test.head()

28395    0
44768    1
733      1
61509    0
87758    1
Name: Sentiment, dtype: int64

In [15]:
tfidf = TfidfVectorizer(min_df = 1, stop_words = 'english', ngram_range=(1,3))

In [16]:
x_traincv = tfidf.fit_transform(x_train)

In [17]:
x_testcv = tfidf.transform(x_test)

In [18]:
y_train = y_train.astype('int')

In [19]:
y_test = y_test.astype('int')

In [20]:
classifier = MultinomialNB()

In [21]:
classifier.fit(x_traincv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
print("Training accuracy {}".format(classifier.score(x_traincv, y_train)))
print("Testing accuracy {}".format(classifier.score(x_testcv, y_test)))

Training accuracy 0.9798852370891725
Testing accuracy 0.7261726172617262

In [23]:
joblib.dump(classifier, 'tb')

['tb']

In [24]:
joblib.dump(tfidf, 'tfidf')

['tfidf']